<link rel="icon" href="{{ '/favicon.ico' | relative_url }}">

<!-- CSS Бібліотеки -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">

<!-- Власні стилі -->
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<!-- JS Бібліотеки -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/basic.min.js"></script>

<!-- Власний скрипт -->
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
